In [2]:
import sql
import pandas as pd
from functools import reduce

In [23]:
q='''select p.name,fc.*, me.memory from fix_complexity fc
join alert a on fc.alert_id = a.id
join project p on a.project_id = p.id
join memory_error me on a.alert_type_id = me.alert_type_id '''
df=pd.DataFrame(sql.execute(q))
df.net_loc_change=df.net_loc_change/df.total_fixed_alerts
df.net_logical_change=df.net_logical_change/df.total_fixed_alerts
df.infile_loc_change=df.infile_loc_change/df.infile_fixed_alerts
df.infile_logical_change=df.infile_logical_change/df.infile_fixed_alerts
df.head()

,name,alert_id,commit_id,file_count,net_loc_change,infile_loc_change,net_logical_change,infile_logical_change,total_fixed_alerts,infile_fixed_alerts,memory
0,Kodi,16,1013,2.0,2.00,2.00,1.0,1.0,3,2,NaN
1,Kodi,17,1013,2.0,2.00,2.00,1.0,1.0,3,2,NaN
2,Kodi,19,1013,2.0,2.00,2.00,1.0,1.0,3,1,NaN
3,Kodi,20,1604,1.0,2.00,2.00,1.0,1.0,1,1,NaN
4,Kodi,22,1868,1.0,2.75,2.75,0.5,0.5,4,4,1.0

In [24]:
tracked_fix_commit=df.groupby('name')[['alert_id']].count()
file=df.groupby('name')[['file_count']].median()
net_loc=df.groupby('name')[['net_loc_change']].median()
infile_loc=df.groupby('name')[['infile_loc_change']].median()
net_logical=df.groupby('name')[['net_logical_change']].median()
infile_logical=df.groupby('name')[['infile_logical_change']].median()
df=reduce(lambda x,y:pd.merge(x,y,on='name'),[tracked_fix_commit,file,net_loc,infile_loc,net_logical,infile_logical])

In [25]:
df=df.rename(columns={'alert_id':'tracked_fix_commit (all)'})
df

,tracked_fix_commit (all),file_count,net_loc_change,infile_loc_change,net_logical_change,infile_logical_change
name,,,,,,
Firefox,1835,18.0,40.720,5.0,11.0,1.666667
Kodi,496,2.0,6.200,4.0,2.0,1.000000
Linux,3077,1.0,4.000,3.0,1.5,1.000000
Samba,798,1.0,3.000,2.0,1.0,1.000000
ovirt-engine,666,6.0,24.925,7.0,5.5,2.000000

In [26]:
q='''select p.name,fc.*, me.memory from fix_complexity fc
join alert a on fc.alert_id = a.id
join project p on a.project_id = p.id
join memory_error me on a.alert_type_id = me.alert_type_id
where me.memory = 1 '''
df=pd.DataFrame(sql.execute(q))
df.net_loc_change=df.net_loc_change/df.total_fixed_alerts
df.net_logical_change=df.net_logical_change/df.total_fixed_alerts
df.infile_loc_change=df.infile_loc_change/df.infile_fixed_alerts
df.infile_logical_change=df.infile_logical_change/df.infile_fixed_alerts

tracked_fix_commit=df.groupby('name')[['alert_id']].count()
file=df.groupby('name')[['file_count']].median()
net_loc=df.groupby('name')[['net_loc_change']].median()
infile_loc=df.groupby('name')[['infile_loc_change']].median()
net_logical=df.groupby('name')[['net_logical_change']].median()
infile_logical=df.groupby('name')[['infile_logical_change']].median()
df=reduce(lambda x,y:pd.merge(x,y,on='name'),[tracked_fix_commit,file,net_loc,infile_loc,net_logical,infile_logical])

df=df.rename(columns={'alert_id':'tracked_fix_commit (memory)'})
df

,tracked_fix_commit (memory),file_count,net_loc_change,infile_loc_change,net_logical_change,infile_logical_change
name,,,,,,
Firefox,636,16.0,47.500000,5.000,11.0,2.00
Kodi,96,1.0,6.200000,4.625,2.0,1.25
Linux,1191,1.0,4.000000,3.500,2.0,1.00
Samba,378,1.0,3.000000,2.000,1.0,1.00
ovirt-engine,232,4.0,18.857143,10.800,4.0,2.00

In [28]:
q='''select p.name,fc.*, me.memory from fix_complexity fc
join alert a on fc.alert_id = a.id
join project p on a.project_id = p.id
join memory_error me on a.alert_type_id = me.alert_type_id
where me.memory is null '''
df=pd.DataFrame(sql.execute(q))
df.net_loc_change=df.net_loc_change/df.total_fixed_alerts
df.net_logical_change=df.net_logical_change/df.total_fixed_alerts
df.infile_loc_change=df.infile_loc_change/df.infile_fixed_alerts
df.infile_logical_change=df.infile_logical_change/df.infile_fixed_alerts

tracked_fix_commit=df.groupby('name')[['alert_id']].count()
file=df.groupby('name')[['file_count']].median()
net_loc=df.groupby('name')[['net_loc_change']].median()
infile_loc=df.groupby('name')[['infile_loc_change']].median()
net_logical=df.groupby('name')[['net_logical_change']].median()
infile_logical=df.groupby('name')[['infile_logical_change']].median()
df=reduce(lambda x,y:pd.merge(x,y,on='name'),[tracked_fix_commit,file,net_loc,infile_loc,net_logical,infile_logical])

df=df.rename(columns={'alert_id':'tracked_fix_commit (non_memory)'})
df

,tracked_fix_commit (non_memory),file_count,net_loc_change,infile_loc_change,net_logical_change,infile_logical_change
name,,,,,,
Firefox,1199,20.0,40.72,5.000000,11.000000,1.5
Kodi,400,2.0,6.50,4.000000,2.000000,1.0
Linux,1886,1.0,3.90,2.000000,1.000000,1.0
Samba,420,1.0,3.00,2.000000,1.000000,1.0
ovirt-engine,434,7.0,27.50,6.416667,8.857143,2.0