In [3]:
import sql
import pandas as pd
from functools import reduce

In [5]:
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and actionability=1'''
df=pd.DataFrame(sql.execute(q))
ta=df.groupby('name')[['lifespan']].median()
ta = ta.rename(columns={'lifespan':'all actionable'})
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and actionability=1
        and me.memory =1 '''
df=pd.DataFrame(sql.execute(q))
tma=df.groupby('name')[['lifespan']].median()
tma = tma.rename(columns={'lifespan':'memory'})
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and actionability=1
        and me.memory is null '''
df=pd.DataFrame(sql.execute(q))
tnma=df.groupby('name')[['lifespan']].median()
tnma = tnma.rename(columns={'lifespan':'non_memory'})
df=reduce(lambda x,y : pd.merge(x,y,on='name'),[ta,tma, tnma])
df

              all actionable  memory  non_memory
name
Firefox                  124      44         154
Kodi                      62      20          70
Linux                    258     253         259
Samba                     70     145          34
ovirt-engine              94      67         108

SyntaxError: invalid syntax (<ipython-input-27-2958505cdb31>, line 1)