In [1]:
import sql
import pandas as pd
from functools import reduce

In [32]:
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and actionability=1'''
df=pd.DataFrame(sql.execute(q))
ta=df.groupby('name')[['lifespan']].median()
ta=ta.rename(columns={'lifespan':'actionable'})
ta

              actionable
name
Firefox              124
Kodi                  62
Linux                258
Samba                 70
ovirt-engine          94

In [31]:
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and actionability=1
        and me.memory =1 '''
df=pd.DataFrame(sql.execute(q))
tma=df.groupby('name')[['lifespan']].median()
tma=tma.rename(columns={'lifespan':'memory'})
tma

              memory
name
Firefox         41.0
Kodi             3.0
Linux          249.0
Samba          145.5
ovirt-engine    74.5

In [30]:
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and actionability=1
        and me.memory is null '''
df=pd.DataFrame(sql.execute(q))
tnma=df.groupby('name')[['lifespan']].median()
tnma=tnma.rename(columns={'lifespan':'non_memory'})
tnma

              non_memory
name
Firefox            154.0
Kodi                93.0
Linux              264.0
Samba               34.0
ovirt-engine       106.5

In [33]:
df=reduce(lambda x,y : pd.merge(x,y,on='name'),[ta,tma, tnma])
df

              actionable  memory  non_memory
name
Firefox              124    41.0       154.0
Kodi                  62     3.0        93.0
Linux                258   249.0       264.0
Samba                 70   145.5        34.0
ovirt-engine          94    74.5       106.5

In [36]:
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and classification='Bug' '''
df=pd.DataFrame(sql.execute(q))
ta=df.groupby('name')[['lifespan']].median()
ta=ta.rename(columns={'lifespan':'marked_bug'})
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and classification='Bug' 
        and me.memory =1 '''
df=pd.DataFrame(sql.execute(q))
tma=df.groupby('name')[['lifespan']].median()
tma=tma.rename(columns={'lifespan':'memory'})
q='''select a.id, datediff(s.date,first_detected) as lifespan, me.memory, p.name from alert a
        join project p on a.project_id = p.id
        join snapshot s on a.last_snapshot_id=s.id
        join memory_error me on a.alert_type_id = me.alert_type_id
        join actionability ac on ac.alert_id=a.id
        where is_invalid=0
        and status='Fixed' 
        and classification='Bug' 
        and me.memory is null '''
df=pd.DataFrame(sql.execute(q))
tnma=df.groupby('name')[['lifespan']].median()
tnma=tnma.rename(columns={'lifespan':'non_memory'})
df=reduce(lambda x,y : pd.merge(x,y,on='name'),[ta,tma, tnma])
df

              marked_bug  memory  non_memory
name
Firefox               64    64.5          63
Kodi                   2     2.0           3
Linux                190   119.0         280
Samba                665   665.0         911
ovirt-engine          43    39.5          43