In [2]:
import sys
sys.path.append('../main')
import sql
import pandas as pd
from functools import reduce

In [18]:
q='''select * from cve c
    join memory_cwe mc on c.CWE = mc.CWE
    join project p on c.project_id = p.id
    where memory = 1;'''
df=pd.DataFrame(sql.execute(q))
cvss3 = df.groupby('name')[['cvss3_score']].median()
cvss2 = df.groupby('name')[['cvss2_score']].median()
df=reduce(lambda x,y:pd.merge(x,y,on='name'),[cvss2, cvss3])
df = df.rename(columns={'cvss3_score':'memory_cvss3','cvss2_score':'memory_cvss2'})
memory = df
memory

             memory_cvss2  memory_cvss3
name
Firefox               7.5           9.8
LibreOffice           7.5           9.8
Linux                 7.2           7.8
OpenCV                6.8           8.8
Samba                 5.0           6.5
Thunderbird           7.6           9.8

In [19]:
q='''select * from cve c
    join memory_cwe mc on c.CWE = mc.CWE
    join project p on c.project_id = p.id
    where memory is null;'''
df=pd.DataFrame(sql.execute(q))
cvss3 = df.groupby('name')[['cvss3_score']].median()
cvss2 = df.groupby('name')[['cvss2_score']].median()
df=reduce(lambda x,y:pd.merge(x,y,on='name'),[cvss2, cvss3])
df = df.rename(columns={'cvss3_score':'nonmemory_cvss3','cvss2_score':'nonmemory_cvss2'})
nonmemory = df

In [20]:
df=reduce(lambda x,y:pd.merge(x,y,on='name'),[memory, nonmemory])
df

             memory_cvss2  memory_cvss3  nonmemory_cvss2  nonmemory_cvss3
name
Firefox               7.5           9.8              5.0              6.1
LibreOffice           7.5           9.8              6.8              7.8
Linux                 7.2           7.8              4.9              6.8
OpenCV                6.8           8.8              5.0              7.5
Samba                 5.0           6.5              5.0              6.5
Thunderbird           7.6           9.8              5.0              6.5